/* .main{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
} */
/* .statistic{
    width: 230px;
    height: 250px;
    margin: 0px 0px 0px 30px;
    border: 1px solid var(--light-color);
} */
.info{
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    margin: 5px;
}
.details{
    font-size: 10px;
    margin: 5px 0px 4px 0px;
}