.name1{
    margin-left: 10px;
    color: var(--light-color);
    font-size: 10px;
}
#Selector{
    background-color: transparent;
    font-size: 12px;
    border: 2px outset var(--card-color);
    color: var(--light-color);
    margin: 12px ;
}
option{
    color: black;
}