:root{
    --main-background : #141414;
    --dark-color : #3B3B3B;
    --light-color : #fff;
    --dark-blue : #546E7B;
    --card-color :#154360 ;
    --Main-font : 'Times New Roman', Times, serif;
}
body{
    background-color: var(--main-background);
}